body {
  background-color: rgb(191, 205, 230);
} 

.img-card {
  width: 250px;
  height: 250px;
}

header h1, footer h2 {
  margin-left: 35%;
}

header, footer {
  background-color: rgb(18, 13, 44);
  color:rgb(197, 143, 143);
  padding: 30px;
}

header {
  margin-bottom: 80px;
}


button:hover {
  transform: scale(1.2, 1.2); 
  background-color:rgb(201, 139, 193)!important;
}

button:active {
  transform: scale(1,1);
}

/* SelectedBeast component */
.selImg {
  width: 450px;
  height: 450px;
}

