main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 250px;
}

.reactCard {
  padding: 10px;
  height: 550px;
  margin-bottom: 20px;
}

.reactButton {
  position: absolute;
  bottom: 5%;
}

.reactButtonClear {
  position: absolute;
  bottom: 5%;
  right: 4%
}

.img-card:hover {
  transform: scale(1.06, 1.06);
  border: solid 3px black;
}

.img-card:active {
  transform: scale(1, 1);
}
